<!DOCTYPE html>
<html>
<head>
  <title>Animes.club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
</head>

<body>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<%= render "layouts/navbar" %>
		</div>
	</header>

	<main class="container">
		<%= yield %>
	</main>

	<footer>
		<p class="text-center">©Animes.club - Caroline Froehlich, Jiéverson Maissiat, 2014. All right reserved.</p>
	</footer>

</body>
</html>
