<!DOCTYPE html>
<html ng-app="AnimesClub">
<head>
	<title>Animes.club</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
</head>

<body>
	<header class="navbar navbar-default navbar-fixed-top">
		<%= render "layouts/navbar" %>
	</header>

	<%= render "layouts/left_menu" %>

	<main>
		<div class="container-fluid">
			<%= yield %>
		</div>
	</main>

	<footer class="text-center">
		<div class="container">
			<a href="/faq" class="col-md-4">FAQ</a>
			<a href="/terms" class="col-md-4">Terms</a> 
			<a href="mailto:contact@animes.club" class="col-md-4">Contact Us</a>
		</div>
	
		<p>©Animes.club - Caroline Froehlich, Jiéverson Maissiat, 2014. All right reserved. </p>
	</footer>
</body>
</html>
